*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
body{
    background-image: url(#) ;
    background-repeat:repeat;
    background-size: auto;
}
header{
    padding: 20px 0;
    background-color: rgb(255, 255, 255);
    text-align: right;
    margin-right: 15px;
}
h1{
    text-align: center;
}
h2{
    text-align: center;
}
h4{
    text-align: center;
}
p{
    text-align: center;
    text font-size: top: ;
}
#v1{
    width: 600px;
    height: 350px;
position: absolute;
right:380px;
}
button{
    margin-top:290px ;
    margin-left:90% ;
}
#v2{
    width: 600px;
    height: 350px;
position: absolute;
right:380px;
}
#v3{
    width: 600px;
    height: 350px;
position: absolute;
right:380px;
}
#maridoemulher{
    width: 300px;
    height: 350px;
position: absolute;
right:850px ;
}
#anaobaixo{
    width: 300px;
    height: 350px;
position: absolute;
right:850px ;
}
#tokinho{
    width: 300px;
    height: 350px;
position: absolute;
right:850px ;
}